.board {
  text-align: center;
  display: flex;
  padding: 10px 10px 8px 20px;
  background: black;

  table {
    width: 100%;
    border-collapse: collapse;
    tr.hidden {
      td {
        padding: 6px;
      }
    }
    th,
    td {
      border: 1px solid black;
    }
    td {
      padding: 20px;
      position: relative;
      background: white;
      &:after {
        content: "";
        position: absolute;
        top: -11px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 20px;
        width: 20px;
        height: 20px;
      }
      &.active:after {
        background: rgb(74, 157, 226);
      }
    }
  }
}

.fret-label {
  position: absolute;
  top: -12px;
  left: -21px;
  color: white;
  width: 20px;
  height: 20px;
  font-family: monospace;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 40px;

  .icon {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
    i {
      &.green {
        color: green;
      }
      &.red {
        color: red;
      }
    }
  }

  .buttons {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    button {
      all: unset;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 3px;
      padding: 10px 20px;
    }
  }
  .score {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-family: monospace;
      font-size: 18px;
      margin-left: 10px;
    }
  }
}

@media (orientation: portrait) {
  body {
    transform: rotate(90deg) translateX(50px);
  }
}
